:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  height: 480px;
  width: 640px;
}

section img {
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  width: 0px;
}

section img:hover {
  cursor: crosshair;
  filter: contrast(120%);
  opacity: 1;
  width: 320px;
}
